* text=auto
staticdata/*.txt text eol=lf
staticdata/*.csv text eol=lf
staticdata/*.tbl text eol=lf

*.ipynb	diff=jupyternotebook
talks/* linguist-documentation
src/metpy/io/_metar_parser/metar_parser.py linguist-generated=true