~*
.DS_Store
*.swp
.idea/
.vscode/

*.pyc
venv/

.coverage
.coverage.*
.cache
.pytest_cache
pip-wheel-metadata/

.ipynb_checkpoints/

dist/*
build/*
*.egg-info
MANIFEST
.eggs/

tutorials/*.nc
docs/build/
docs/examples
docs/tutorials
docs/api/generated
examples/scripts
test_output/
