John Leeman <kd5wxb@gmail.com>
John Leeman <kd5wxb@gmail.com> <john@leemangeophysical.com>
<rmay@ucar.edu> <rmay31@gmail.com>
<sarms@ucar.edu> <sarms@unidata.ucar.edu>
Kevin Goebbert <kevin.goebbert@valpo.edu>
<kevin.goebbert@valpo.edu> <kevin.goebbert@gmail.com>
<kevin.goebbert@valpo.edu> <kgoebber@users.noreply.github.com>
Tyler Wixtrom <tjwixtrom@gmail.com> <twixtrom@candy.unidata.ucar.edu> 
Tyler Wixtrom <tjwixtrom@gmail.com>
Brian Mapes <mapes@miami.edu>
Kristen Pozsonyi <knpozson@millersville.edu>
Daryl Herzmann <akrherz@iastate.edu>
Kishan Mehta <kishan@mobifly.co.uk>
Matt Wilson <matthew.wilson@valpo.edu>
Andrew Huang <ahuang11@illinois.edu>
<ahuang11@illinois.edu> <huang.andrew12@gmail.com>
Andrew Huang <ahuang11@illinois.edu> Andrew <15331990+ahuang11@users.noreply.github.com>
<tsupinie@gmail.com> <tsupinie@ou.edu>
Tim Supinie <tsupinie@gmail.com>
Zach Bruick <zachary.bruick@valpo.edu>
Joy Monteiro <joy.merwin@gmail.com>
Steven Decker <sgdecker@envsci.rutgers.edu>
<sgdecker@envsci.rutgers.edu> <decker@envsci.rutgers.edu>
Claude Dicaire <31997745+eliteuser26@users.noreply.github.com>
David Ahijevych <ahijevyc@ucar.edu>
William Minchin <w_minchin@hotmail.com> MinchinWeb