John Leeman <kd5wxb@gmail.com>
<rmay@ucar.edu> <rmay31@gmail.com>
<sarms@ucar.edu> <sarms@unidata.ucar.edu>
<kevin.goebbert@valpo.edu> <kevin.goebbert@gmail.com>
Tyler Wixtrom <tjwixtrom@gmail.com> <twixtrom@candy.unidata.ucar.edu> 
Tyler Wixtrom <tjwixtrom@gmail.com>
Brian Mapes <mapes@miami.edu>
Kristen Pozsonyi <knpozson@millersville.edu>
Daryl Herzmann <akrherz@iastate.edu>
Kishan Mehta <kishan@mobifly.co.uk>
Matt Wilson <matthew.wilson@valpo.edu>
Andrew Huang <ahuang11@illinois.edu>
