# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "setup.py" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            sudo apt-get install libgeos-dev
            python3 -m venv venv
            . venv/bin/activate
            pip install ".[test,cdm]" "shapely<1.5.17.post1" -f https://unidata-python.s3.amazonaws.com/wheelhouse/index.html

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "setup.py" }}
        
      # run tests!
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python setup.py test --addopts "-s --flake8 --mpl"

      - store_artifacts:
          path: test-reports
          destination: test-reports
          