# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3-stretch

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "setup.py" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            sudo apt-get install libgeos-dev libproj-dev
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pytest
            pip install ".[test]" "shapely<1.5.17.post1" --upgrade --upgrade-strategy=eager -f https://unidata-python.s3.amazonaws.com/wheelhouse/index.html

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "setup.py" }}

      # run tests!
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            pytest -s --flake8 --mpl

      - store_artifacts:
          path: test-reports
          destination: test-reports
