ruff==0.6.2

flake8==7.1.1
pycodestyle==2.12.1
pyflakes==3.2.0

flake8-continuation==1.0.5
flake8-isort==6.1.1
isort==5.13.2
flake8-requirements==2.2.1

flake8-rst-docstrings==0.3.0

doc8==1.1.1
restructuredtext_lint==1.4.0

codespell==2.3.0

pooch==1.8.2