name: PyPI Tests

# We don't want pushes (or PRs) to gh-pages to kick anything off
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  #
  # Run all tests on Linux using standard PyPI packages, including minimum requirements
  #
  PyPITests:
    name: ${{ matrix.python-version }} ${{ matrix.dep-versions }} ${{ matrix.no-extras }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]
        dep-versions: [requirements.txt]
        no-extras: ['']
        include:
          - python-version: 3.7
            dep-versions: Minimum
            no-extras: 'No Extras'
          - python-version: 3.9
            dep-versions: requirements.txt
            no-extras: 'No Extras'

    steps:
    # We check out only a limited depth and then pull tags to save time
    - name: Checkout source
      uses: actions/checkout@v2.4.0
      with:
        fetch-depth: 100

    - name: Get tags
      run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2.2.2
      with:
        python-version: ${{ matrix.python-version }}

    # This uses pip to find the right cache dir and then sets up caching for it
    - name: Get pip cache dir
      id: pip-cache
      run: echo "::set-output name=dir::$(pip cache dir)"

    - name: Setup caching
      uses: actions/cache@v2.1.6
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: pip-tests-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('ci/*') }}
        restore-keys: |
          pip-tests-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('ci/*') }}
          pip-tests-${{ runner.os }}-${{ matrix.python-version }}-
          pip-tests-${{ runner.os }}-
          pip-tests-

    - name: Add extras to requirements
      if: ${{ matrix.no-extras != 'No Extras' }}
      run: cat ci/extra_requirements.txt >> ci/test_requirements.txt

    - name: Generate minimum dependencies
      if: ${{ matrix.dep-versions == 'Minimum' }}
      run: |
        python << EOF
        import configparser
        from pathlib import Path

        # Read our setup.cfg
        config = configparser.ConfigParser()
        config.read('setup.cfg')

        # Generate a Minimum dependency file
        with (Path('ci') / 'Minimum').open('wt') as out:
          for dep in config['options']['install_requires'].split('\n'):
            if dep:
              dep = dep.split(';')[0]
              out.write(dep.replace('>=', '==') + '\n')
        EOF

    - name: Setup PROJ
      uses: ./.github/actions/setup-proj

    # This installs the stuff needed to build and install Shapely and CartoPy from source.
    - name: Install CartoPy build dependencies
      if: ${{ matrix.no-extras != 'No Extras' }}
      run: |
        sudo apt-get install libgeos-dev
        python -m pip install --no-binary :all: shapely

    - name: Install test dependencies
      run: python -m pip install -r ci/test_requirements.txt -c ci/${{ matrix.dep-versions }}

    - name: Download Cartopy Maps
      if: ${{ matrix.no-extras != 'No Extras' }}
      run: ci/download_cartopy_maps.py

    - name: Install
      run: python -m pip install -c ci/${{ matrix.dep-versions }} .

    - name: Run tests
      uses: ./.github/actions/run-tests
      with:
        run-doctests: ${{ matrix.dep-versions == 'requirements.txt' && matrix.no-extras != 'No Extras' }}
        key: pypi-${{ matrix.python-version }}-${{ matrix.dep-versions }}-${{ matrix.no-extras }}-${{ runner.os }}
