name: Conda Tests

# We don't want pushes (or PRs) to gh-pages to kick anything off
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow}}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  #
  # Run all tests on Conda on both Windows and macOS
  #
  CondaTests:
    name: ${{ matrix.os }} ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10']
        os: [macOS, Windows]

    steps:
    # We check out only a limited depth and then pull tags to save time
    - name: Checkout source
      uses: actions/checkout@v2
      with:
        fetch-depth: 100

    - name: Get tags
      run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

    - name: Install from Conda
      uses: ./.github/actions/install-conda
      with:
        type: 'test'
        python-version: ${{ matrix.python-version }}

    - name: Run tests
      uses: ./.github/actions/run-tests
      with:
        run-doctests: ${{ runner.os != 'Windows' }}
        key: conda-${{ matrix.python-version }}-${{ runner.os }}
